
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    width: 960px;
    margin: auto;
}

header section:nth-child(1){
    display: grid;
    grid-template-columns: 50px 2px 1fr;
   
}
header h2{
    margin-block-start: 0%;
    
}

header section:nth-child(2){
    display: grid;
    grid-template-columns:repeat(8 ,27px);
   
}
